// @Author: sarahnouh
// @Date:   2019-03-04T04:08:11+02:00
// @Last modified by:   sarahnouh
// @Last modified time: 2019-03-06T08:49:02+02:00
.subnav {
  margin-top: 10px;
  @include media-breakpoint-down(sm) {
    top: 35px;
  }
  .subnav-lang {
    color: white;
    font-weight: 800;
  }
  .subnav-search-icon {
    position: relative;
  }
  .subnav-search-form {
    position: absolute;
    top: 0;
    right: 40px;
    width: 0;
    overflow: hidden;
    transition: width linear 1s;
    .ar & {
      left: 50px;
      right: auto;
    }
    input {
      width: 100%;
      border-radius: 0;
      border: none;
    }
    &.is-shown {
      width: 250px;
    }
  }

  .nav-link {
    @include media-breakpoint-down(sm) {
      padding: 0.5rem;
    }
  }
}
